// background color




// bg image



//  bg attachment


// bg clip


// bg oeigin
bg-origin-content{back}

// bg position

// bg-repeat
.bg-repeat{background-repeat: repeat;}
.bg-no-repeat{background-repeat: no-repeat;}
.bg-x-repeat{background-repeat: repeat-x;}
.bg-y-repeat{background-repeat: repeat-y;}


// bg-size 
.bg-size-contain{background-size: contain;}
.bg-size-cover{background-size: cover;}