// color


// font family


// font size


// font weight


// lettter spacing


// line height


// text-center
.text-center{text-align: center;}
.text-start{text-align: start;}
.text-end{text-align: end;}


// text decoration


// text transform


// word spacing


