.mt-0 {
  margin-Top: 0px;
}
.mt-0:hover:mt-0 {
  margin-Top: 0px;
}

.pt-0 {
  padding-Top: 0px;
}

.mr-0 {
  margin-Top: 0px;
}
.mr-0:hover:mr-0 {
  margin-Top: 0px;
}

.pr-0 {
  padding-Top: 0px;
}

.mb-0 {
  margin-Top: 0px;
}
.mb-0:hover:mb-0 {
  margin-Top: 0px;
}

.pb-0 {
  padding-Top: 0px;
}

.ml-0 {
  margin-Top: 0px;
}
.ml-0:hover:ml-0 {
  margin-Top: 0px;
}

.pl-0 {
  padding-Top: 0px;
}

.mt-0 {
  margin-Right: 0px;
}
.mt-0:hover:mt-0 {
  margin-Right: 0px;
}

.pt-0 {
  padding-Right: 0px;
}

.mr-0 {
  margin-Right: 0px;
}
.mr-0:hover:mr-0 {
  margin-Right: 0px;
}

.pr-0 {
  padding-Right: 0px;
}

.mb-0 {
  margin-Right: 0px;
}
.mb-0:hover:mb-0 {
  margin-Right: 0px;
}

.pb-0 {
  padding-Right: 0px;
}

.ml-0 {
  margin-Right: 0px;
}
.ml-0:hover:ml-0 {
  margin-Right: 0px;
}

.pl-0 {
  padding-Right: 0px;
}

.mt-0 {
  margin-Bottom: 0px;
}
.mt-0:hover:mt-0 {
  margin-Bottom: 0px;
}

.pt-0 {
  padding-Bottom: 0px;
}

.mr-0 {
  margin-Bottom: 0px;
}
.mr-0:hover:mr-0 {
  margin-Bottom: 0px;
}

.pr-0 {
  padding-Bottom: 0px;
}

.mb-0 {
  margin-Bottom: 0px;
}
.mb-0:hover:mb-0 {
  margin-Bottom: 0px;
}

.pb-0 {
  padding-Bottom: 0px;
}

.ml-0 {
  margin-Bottom: 0px;
}
.ml-0:hover:ml-0 {
  margin-Bottom: 0px;
}

.pl-0 {
  padding-Bottom: 0px;
}

.mt-0 {
  margin-Left: 0px;
}
.mt-0:hover:mt-0 {
  margin-Left: 0px;
}

.pt-0 {
  padding-Left: 0px;
}

.mr-0 {
  margin-Left: 0px;
}
.mr-0:hover:mr-0 {
  margin-Left: 0px;
}

.pr-0 {
  padding-Left: 0px;
}

.mb-0 {
  margin-Left: 0px;
}
.mb-0:hover:mb-0 {
  margin-Left: 0px;
}

.pb-0 {
  padding-Left: 0px;
}

.ml-0 {
  margin-Left: 0px;
}
.ml-0:hover:ml-0 {
  margin-Left: 0px;
}

.pl-0 {
  padding-Left: 0px;
}

.mt-2 {
  margin-Top: 2px;
}
.mt-2:hover:mt-2 {
  margin-Top: 2px;
}

.pt-2 {
  padding-Top: 2px;
}

.mr-2 {
  margin-Top: 2px;
}
.mr-2:hover:mr-2 {
  margin-Top: 2px;
}

.pr-2 {
  padding-Top: 2px;
}

.mb-2 {
  margin-Top: 2px;
}
.mb-2:hover:mb-2 {
  margin-Top: 2px;
}

.pb-2 {
  padding-Top: 2px;
}

.ml-2 {
  margin-Top: 2px;
}
.ml-2:hover:ml-2 {
  margin-Top: 2px;
}

.pl-2 {
  padding-Top: 2px;
}

.mt-2 {
  margin-Right: 2px;
}
.mt-2:hover:mt-2 {
  margin-Right: 2px;
}

.pt-2 {
  padding-Right: 2px;
}

.mr-2 {
  margin-Right: 2px;
}
.mr-2:hover:mr-2 {
  margin-Right: 2px;
}

.pr-2 {
  padding-Right: 2px;
}

.mb-2 {
  margin-Right: 2px;
}
.mb-2:hover:mb-2 {
  margin-Right: 2px;
}

.pb-2 {
  padding-Right: 2px;
}

.ml-2 {
  margin-Right: 2px;
}
.ml-2:hover:ml-2 {
  margin-Right: 2px;
}

.pl-2 {
  padding-Right: 2px;
}

.mt-2 {
  margin-Bottom: 2px;
}
.mt-2:hover:mt-2 {
  margin-Bottom: 2px;
}

.pt-2 {
  padding-Bottom: 2px;
}

.mr-2 {
  margin-Bottom: 2px;
}
.mr-2:hover:mr-2 {
  margin-Bottom: 2px;
}

.pr-2 {
  padding-Bottom: 2px;
}

.mb-2 {
  margin-Bottom: 2px;
}
.mb-2:hover:mb-2 {
  margin-Bottom: 2px;
}

.pb-2 {
  padding-Bottom: 2px;
}

.ml-2 {
  margin-Bottom: 2px;
}
.ml-2:hover:ml-2 {
  margin-Bottom: 2px;
}

.pl-2 {
  padding-Bottom: 2px;
}

.mt-2 {
  margin-Left: 2px;
}
.mt-2:hover:mt-2 {
  margin-Left: 2px;
}

.pt-2 {
  padding-Left: 2px;
}

.mr-2 {
  margin-Left: 2px;
}
.mr-2:hover:mr-2 {
  margin-Left: 2px;
}

.pr-2 {
  padding-Left: 2px;
}

.mb-2 {
  margin-Left: 2px;
}
.mb-2:hover:mb-2 {
  margin-Left: 2px;
}

.pb-2 {
  padding-Left: 2px;
}

.ml-2 {
  margin-Left: 2px;
}
.ml-2:hover:ml-2 {
  margin-Left: 2px;
}

.pl-2 {
  padding-Left: 2px;
}

.mt-4 {
  margin-Top: 4px;
}
.mt-4:hover:mt-4 {
  margin-Top: 4px;
}

.pt-4 {
  padding-Top: 4px;
}

.mr-4 {
  margin-Top: 4px;
}
.mr-4:hover:mr-4 {
  margin-Top: 4px;
}

.pr-4 {
  padding-Top: 4px;
}

.mb-4 {
  margin-Top: 4px;
}
.mb-4:hover:mb-4 {
  margin-Top: 4px;
}

.pb-4 {
  padding-Top: 4px;
}

.ml-4 {
  margin-Top: 4px;
}
.ml-4:hover:ml-4 {
  margin-Top: 4px;
}

.pl-4 {
  padding-Top: 4px;
}

.mt-4 {
  margin-Right: 4px;
}
.mt-4:hover:mt-4 {
  margin-Right: 4px;
}

.pt-4 {
  padding-Right: 4px;
}

.mr-4 {
  margin-Right: 4px;
}
.mr-4:hover:mr-4 {
  margin-Right: 4px;
}

.pr-4 {
  padding-Right: 4px;
}

.mb-4 {
  margin-Right: 4px;
}
.mb-4:hover:mb-4 {
  margin-Right: 4px;
}

.pb-4 {
  padding-Right: 4px;
}

.ml-4 {
  margin-Right: 4px;
}
.ml-4:hover:ml-4 {
  margin-Right: 4px;
}

.pl-4 {
  padding-Right: 4px;
}

.mt-4 {
  margin-Bottom: 4px;
}
.mt-4:hover:mt-4 {
  margin-Bottom: 4px;
}

.pt-4 {
  padding-Bottom: 4px;
}

.mr-4 {
  margin-Bottom: 4px;
}
.mr-4:hover:mr-4 {
  margin-Bottom: 4px;
}

.pr-4 {
  padding-Bottom: 4px;
}

.mb-4 {
  margin-Bottom: 4px;
}
.mb-4:hover:mb-4 {
  margin-Bottom: 4px;
}

.pb-4 {
  padding-Bottom: 4px;
}

.ml-4 {
  margin-Bottom: 4px;
}
.ml-4:hover:ml-4 {
  margin-Bottom: 4px;
}

.pl-4 {
  padding-Bottom: 4px;
}

.mt-4 {
  margin-Left: 4px;
}
.mt-4:hover:mt-4 {
  margin-Left: 4px;
}

.pt-4 {
  padding-Left: 4px;
}

.mr-4 {
  margin-Left: 4px;
}
.mr-4:hover:mr-4 {
  margin-Left: 4px;
}

.pr-4 {
  padding-Left: 4px;
}

.mb-4 {
  margin-Left: 4px;
}
.mb-4:hover:mb-4 {
  margin-Left: 4px;
}

.pb-4 {
  padding-Left: 4px;
}

.ml-4 {
  margin-Left: 4px;
}
.ml-4:hover:ml-4 {
  margin-Left: 4px;
}

.pl-4 {
  padding-Left: 4px;
}

.mt-6 {
  margin-Top: 6px;
}
.mt-6:hover:mt-6 {
  margin-Top: 6px;
}

.pt-6 {
  padding-Top: 6px;
}

.mr-6 {
  margin-Top: 6px;
}
.mr-6:hover:mr-6 {
  margin-Top: 6px;
}

.pr-6 {
  padding-Top: 6px;
}

.mb-6 {
  margin-Top: 6px;
}
.mb-6:hover:mb-6 {
  margin-Top: 6px;
}

.pb-6 {
  padding-Top: 6px;
}

.ml-6 {
  margin-Top: 6px;
}
.ml-6:hover:ml-6 {
  margin-Top: 6px;
}

.pl-6 {
  padding-Top: 6px;
}

.mt-6 {
  margin-Right: 6px;
}
.mt-6:hover:mt-6 {
  margin-Right: 6px;
}

.pt-6 {
  padding-Right: 6px;
}

.mr-6 {
  margin-Right: 6px;
}
.mr-6:hover:mr-6 {
  margin-Right: 6px;
}

.pr-6 {
  padding-Right: 6px;
}

.mb-6 {
  margin-Right: 6px;
}
.mb-6:hover:mb-6 {
  margin-Right: 6px;
}

.pb-6 {
  padding-Right: 6px;
}

.ml-6 {
  margin-Right: 6px;
}
.ml-6:hover:ml-6 {
  margin-Right: 6px;
}

.pl-6 {
  padding-Right: 6px;
}

.mt-6 {
  margin-Bottom: 6px;
}
.mt-6:hover:mt-6 {
  margin-Bottom: 6px;
}

.pt-6 {
  padding-Bottom: 6px;
}

.mr-6 {
  margin-Bottom: 6px;
}
.mr-6:hover:mr-6 {
  margin-Bottom: 6px;
}

.pr-6 {
  padding-Bottom: 6px;
}

.mb-6 {
  margin-Bottom: 6px;
}
.mb-6:hover:mb-6 {
  margin-Bottom: 6px;
}

.pb-6 {
  padding-Bottom: 6px;
}

.ml-6 {
  margin-Bottom: 6px;
}
.ml-6:hover:ml-6 {
  margin-Bottom: 6px;
}

.pl-6 {
  padding-Bottom: 6px;
}

.mt-6 {
  margin-Left: 6px;
}
.mt-6:hover:mt-6 {
  margin-Left: 6px;
}

.pt-6 {
  padding-Left: 6px;
}

.mr-6 {
  margin-Left: 6px;
}
.mr-6:hover:mr-6 {
  margin-Left: 6px;
}

.pr-6 {
  padding-Left: 6px;
}

.mb-6 {
  margin-Left: 6px;
}
.mb-6:hover:mb-6 {
  margin-Left: 6px;
}

.pb-6 {
  padding-Left: 6px;
}

.ml-6 {
  margin-Left: 6px;
}
.ml-6:hover:ml-6 {
  margin-Left: 6px;
}

.pl-6 {
  padding-Left: 6px;
}

.mt-8 {
  margin-Top: 8px;
}
.mt-8:hover:mt-8 {
  margin-Top: 8px;
}

.pt-8 {
  padding-Top: 8px;
}

.mr-8 {
  margin-Top: 8px;
}
.mr-8:hover:mr-8 {
  margin-Top: 8px;
}

.pr-8 {
  padding-Top: 8px;
}

.mb-8 {
  margin-Top: 8px;
}
.mb-8:hover:mb-8 {
  margin-Top: 8px;
}

.pb-8 {
  padding-Top: 8px;
}

.ml-8 {
  margin-Top: 8px;
}
.ml-8:hover:ml-8 {
  margin-Top: 8px;
}

.pl-8 {
  padding-Top: 8px;
}

.mt-8 {
  margin-Right: 8px;
}
.mt-8:hover:mt-8 {
  margin-Right: 8px;
}

.pt-8 {
  padding-Right: 8px;
}

.mr-8 {
  margin-Right: 8px;
}
.mr-8:hover:mr-8 {
  margin-Right: 8px;
}

.pr-8 {
  padding-Right: 8px;
}

.mb-8 {
  margin-Right: 8px;
}
.mb-8:hover:mb-8 {
  margin-Right: 8px;
}

.pb-8 {
  padding-Right: 8px;
}

.ml-8 {
  margin-Right: 8px;
}
.ml-8:hover:ml-8 {
  margin-Right: 8px;
}

.pl-8 {
  padding-Right: 8px;
}

.mt-8 {
  margin-Bottom: 8px;
}
.mt-8:hover:mt-8 {
  margin-Bottom: 8px;
}

.pt-8 {
  padding-Bottom: 8px;
}

.mr-8 {
  margin-Bottom: 8px;
}
.mr-8:hover:mr-8 {
  margin-Bottom: 8px;
}

.pr-8 {
  padding-Bottom: 8px;
}

.mb-8 {
  margin-Bottom: 8px;
}
.mb-8:hover:mb-8 {
  margin-Bottom: 8px;
}

.pb-8 {
  padding-Bottom: 8px;
}

.ml-8 {
  margin-Bottom: 8px;
}
.ml-8:hover:ml-8 {
  margin-Bottom: 8px;
}

.pl-8 {
  padding-Bottom: 8px;
}

.mt-8 {
  margin-Left: 8px;
}
.mt-8:hover:mt-8 {
  margin-Left: 8px;
}

.pt-8 {
  padding-Left: 8px;
}

.mr-8 {
  margin-Left: 8px;
}
.mr-8:hover:mr-8 {
  margin-Left: 8px;
}

.pr-8 {
  padding-Left: 8px;
}

.mb-8 {
  margin-Left: 8px;
}
.mb-8:hover:mb-8 {
  margin-Left: 8px;
}

.pb-8 {
  padding-Left: 8px;
}

.ml-8 {
  margin-Left: 8px;
}
.ml-8:hover:ml-8 {
  margin-Left: 8px;
}

.pl-8 {
  padding-Left: 8px;
}

.mt-10 {
  margin-Top: 10px;
}
.mt-10:hover:mt-10 {
  margin-Top: 10px;
}

.pt-10 {
  padding-Top: 10px;
}

.mr-10 {
  margin-Top: 10px;
}
.mr-10:hover:mr-10 {
  margin-Top: 10px;
}

.pr-10 {
  padding-Top: 10px;
}

.mb-10 {
  margin-Top: 10px;
}
.mb-10:hover:mb-10 {
  margin-Top: 10px;
}

.pb-10 {
  padding-Top: 10px;
}

.ml-10 {
  margin-Top: 10px;
}
.ml-10:hover:ml-10 {
  margin-Top: 10px;
}

.pl-10 {
  padding-Top: 10px;
}

.mt-10 {
  margin-Right: 10px;
}
.mt-10:hover:mt-10 {
  margin-Right: 10px;
}

.pt-10 {
  padding-Right: 10px;
}

.mr-10 {
  margin-Right: 10px;
}
.mr-10:hover:mr-10 {
  margin-Right: 10px;
}

.pr-10 {
  padding-Right: 10px;
}

.mb-10 {
  margin-Right: 10px;
}
.mb-10:hover:mb-10 {
  margin-Right: 10px;
}

.pb-10 {
  padding-Right: 10px;
}

.ml-10 {
  margin-Right: 10px;
}
.ml-10:hover:ml-10 {
  margin-Right: 10px;
}

.pl-10 {
  padding-Right: 10px;
}

.mt-10 {
  margin-Bottom: 10px;
}
.mt-10:hover:mt-10 {
  margin-Bottom: 10px;
}

.pt-10 {
  padding-Bottom: 10px;
}

.mr-10 {
  margin-Bottom: 10px;
}
.mr-10:hover:mr-10 {
  margin-Bottom: 10px;
}

.pr-10 {
  padding-Bottom: 10px;
}

.mb-10 {
  margin-Bottom: 10px;
}
.mb-10:hover:mb-10 {
  margin-Bottom: 10px;
}

.pb-10 {
  padding-Bottom: 10px;
}

.ml-10 {
  margin-Bottom: 10px;
}
.ml-10:hover:ml-10 {
  margin-Bottom: 10px;
}

.pl-10 {
  padding-Bottom: 10px;
}

.mt-10 {
  margin-Left: 10px;
}
.mt-10:hover:mt-10 {
  margin-Left: 10px;
}

.pt-10 {
  padding-Left: 10px;
}

.mr-10 {
  margin-Left: 10px;
}
.mr-10:hover:mr-10 {
  margin-Left: 10px;
}

.pr-10 {
  padding-Left: 10px;
}

.mb-10 {
  margin-Left: 10px;
}
.mb-10:hover:mb-10 {
  margin-Left: 10px;
}

.pb-10 {
  padding-Left: 10px;
}

.ml-10 {
  margin-Left: 10px;
}
.ml-10:hover:ml-10 {
  margin-Left: 10px;
}

.pl-10 {
  padding-Left: 10px;
}

.mt-12 {
  margin-Top: 12px;
}
.mt-12:hover:mt-12 {
  margin-Top: 12px;
}

.pt-12 {
  padding-Top: 12px;
}

.mr-12 {
  margin-Top: 12px;
}
.mr-12:hover:mr-12 {
  margin-Top: 12px;
}

.pr-12 {
  padding-Top: 12px;
}

.mb-12 {
  margin-Top: 12px;
}
.mb-12:hover:mb-12 {
  margin-Top: 12px;
}

.pb-12 {
  padding-Top: 12px;
}

.ml-12 {
  margin-Top: 12px;
}
.ml-12:hover:ml-12 {
  margin-Top: 12px;
}

.pl-12 {
  padding-Top: 12px;
}

.mt-12 {
  margin-Right: 12px;
}
.mt-12:hover:mt-12 {
  margin-Right: 12px;
}

.pt-12 {
  padding-Right: 12px;
}

.mr-12 {
  margin-Right: 12px;
}
.mr-12:hover:mr-12 {
  margin-Right: 12px;
}

.pr-12 {
  padding-Right: 12px;
}

.mb-12 {
  margin-Right: 12px;
}
.mb-12:hover:mb-12 {
  margin-Right: 12px;
}

.pb-12 {
  padding-Right: 12px;
}

.ml-12 {
  margin-Right: 12px;
}
.ml-12:hover:ml-12 {
  margin-Right: 12px;
}

.pl-12 {
  padding-Right: 12px;
}

.mt-12 {
  margin-Bottom: 12px;
}
.mt-12:hover:mt-12 {
  margin-Bottom: 12px;
}

.pt-12 {
  padding-Bottom: 12px;
}

.mr-12 {
  margin-Bottom: 12px;
}
.mr-12:hover:mr-12 {
  margin-Bottom: 12px;
}

.pr-12 {
  padding-Bottom: 12px;
}

.mb-12 {
  margin-Bottom: 12px;
}
.mb-12:hover:mb-12 {
  margin-Bottom: 12px;
}

.pb-12 {
  padding-Bottom: 12px;
}

.ml-12 {
  margin-Bottom: 12px;
}
.ml-12:hover:ml-12 {
  margin-Bottom: 12px;
}

.pl-12 {
  padding-Bottom: 12px;
}

.mt-12 {
  margin-Left: 12px;
}
.mt-12:hover:mt-12 {
  margin-Left: 12px;
}

.pt-12 {
  padding-Left: 12px;
}

.mr-12 {
  margin-Left: 12px;
}
.mr-12:hover:mr-12 {
  margin-Left: 12px;
}

.pr-12 {
  padding-Left: 12px;
}

.mb-12 {
  margin-Left: 12px;
}
.mb-12:hover:mb-12 {
  margin-Left: 12px;
}

.pb-12 {
  padding-Left: 12px;
}

.ml-12 {
  margin-Left: 12px;
}
.ml-12:hover:ml-12 {
  margin-Left: 12px;
}

.pl-12 {
  padding-Left: 12px;
}

.mt-14 {
  margin-Top: 14px;
}
.mt-14:hover:mt-14 {
  margin-Top: 14px;
}

.pt-14 {
  padding-Top: 14px;
}

.mr-14 {
  margin-Top: 14px;
}
.mr-14:hover:mr-14 {
  margin-Top: 14px;
}

.pr-14 {
  padding-Top: 14px;
}

.mb-14 {
  margin-Top: 14px;
}
.mb-14:hover:mb-14 {
  margin-Top: 14px;
}

.pb-14 {
  padding-Top: 14px;
}

.ml-14 {
  margin-Top: 14px;
}
.ml-14:hover:ml-14 {
  margin-Top: 14px;
}

.pl-14 {
  padding-Top: 14px;
}

.mt-14 {
  margin-Right: 14px;
}
.mt-14:hover:mt-14 {
  margin-Right: 14px;
}

.pt-14 {
  padding-Right: 14px;
}

.mr-14 {
  margin-Right: 14px;
}
.mr-14:hover:mr-14 {
  margin-Right: 14px;
}

.pr-14 {
  padding-Right: 14px;
}

.mb-14 {
  margin-Right: 14px;
}
.mb-14:hover:mb-14 {
  margin-Right: 14px;
}

.pb-14 {
  padding-Right: 14px;
}

.ml-14 {
  margin-Right: 14px;
}
.ml-14:hover:ml-14 {
  margin-Right: 14px;
}

.pl-14 {
  padding-Right: 14px;
}

.mt-14 {
  margin-Bottom: 14px;
}
.mt-14:hover:mt-14 {
  margin-Bottom: 14px;
}

.pt-14 {
  padding-Bottom: 14px;
}

.mr-14 {
  margin-Bottom: 14px;
}
.mr-14:hover:mr-14 {
  margin-Bottom: 14px;
}

.pr-14 {
  padding-Bottom: 14px;
}

.mb-14 {
  margin-Bottom: 14px;
}
.mb-14:hover:mb-14 {
  margin-Bottom: 14px;
}

.pb-14 {
  padding-Bottom: 14px;
}

.ml-14 {
  margin-Bottom: 14px;
}
.ml-14:hover:ml-14 {
  margin-Bottom: 14px;
}

.pl-14 {
  padding-Bottom: 14px;
}

.mt-14 {
  margin-Left: 14px;
}
.mt-14:hover:mt-14 {
  margin-Left: 14px;
}

.pt-14 {
  padding-Left: 14px;
}

.mr-14 {
  margin-Left: 14px;
}
.mr-14:hover:mr-14 {
  margin-Left: 14px;
}

.pr-14 {
  padding-Left: 14px;
}

.mb-14 {
  margin-Left: 14px;
}
.mb-14:hover:mb-14 {
  margin-Left: 14px;
}

.pb-14 {
  padding-Left: 14px;
}

.ml-14 {
  margin-Left: 14px;
}
.ml-14:hover:ml-14 {
  margin-Left: 14px;
}

.pl-14 {
  padding-Left: 14px;
}

.mt-16 {
  margin-Top: 16px;
}
.mt-16:hover:mt-16 {
  margin-Top: 16px;
}

.pt-16 {
  padding-Top: 16px;
}

.mr-16 {
  margin-Top: 16px;
}
.mr-16:hover:mr-16 {
  margin-Top: 16px;
}

.pr-16 {
  padding-Top: 16px;
}

.mb-16 {
  margin-Top: 16px;
}
.mb-16:hover:mb-16 {
  margin-Top: 16px;
}

.pb-16 {
  padding-Top: 16px;
}

.ml-16 {
  margin-Top: 16px;
}
.ml-16:hover:ml-16 {
  margin-Top: 16px;
}

.pl-16 {
  padding-Top: 16px;
}

.mt-16 {
  margin-Right: 16px;
}
.mt-16:hover:mt-16 {
  margin-Right: 16px;
}

.pt-16 {
  padding-Right: 16px;
}

.mr-16 {
  margin-Right: 16px;
}
.mr-16:hover:mr-16 {
  margin-Right: 16px;
}

.pr-16 {
  padding-Right: 16px;
}

.mb-16 {
  margin-Right: 16px;
}
.mb-16:hover:mb-16 {
  margin-Right: 16px;
}

.pb-16 {
  padding-Right: 16px;
}

.ml-16 {
  margin-Right: 16px;
}
.ml-16:hover:ml-16 {
  margin-Right: 16px;
}

.pl-16 {
  padding-Right: 16px;
}

.mt-16 {
  margin-Bottom: 16px;
}
.mt-16:hover:mt-16 {
  margin-Bottom: 16px;
}

.pt-16 {
  padding-Bottom: 16px;
}

.mr-16 {
  margin-Bottom: 16px;
}
.mr-16:hover:mr-16 {
  margin-Bottom: 16px;
}

.pr-16 {
  padding-Bottom: 16px;
}

.mb-16 {
  margin-Bottom: 16px;
}
.mb-16:hover:mb-16 {
  margin-Bottom: 16px;
}

.pb-16 {
  padding-Bottom: 16px;
}

.ml-16 {
  margin-Bottom: 16px;
}
.ml-16:hover:ml-16 {
  margin-Bottom: 16px;
}

.pl-16 {
  padding-Bottom: 16px;
}

.mt-16 {
  margin-Left: 16px;
}
.mt-16:hover:mt-16 {
  margin-Left: 16px;
}

.pt-16 {
  padding-Left: 16px;
}

.mr-16 {
  margin-Left: 16px;
}
.mr-16:hover:mr-16 {
  margin-Left: 16px;
}

.pr-16 {
  padding-Left: 16px;
}

.mb-16 {
  margin-Left: 16px;
}
.mb-16:hover:mb-16 {
  margin-Left: 16px;
}

.pb-16 {
  padding-Left: 16px;
}

.ml-16 {
  margin-Left: 16px;
}
.ml-16:hover:ml-16 {
  margin-Left: 16px;
}

.pl-16 {
  padding-Left: 16px;
}

.mt-18 {
  margin-Top: 18px;
}
.mt-18:hover:mt-18 {
  margin-Top: 18px;
}

.pt-18 {
  padding-Top: 18px;
}

.mr-18 {
  margin-Top: 18px;
}
.mr-18:hover:mr-18 {
  margin-Top: 18px;
}

.pr-18 {
  padding-Top: 18px;
}

.mb-18 {
  margin-Top: 18px;
}
.mb-18:hover:mb-18 {
  margin-Top: 18px;
}

.pb-18 {
  padding-Top: 18px;
}

.ml-18 {
  margin-Top: 18px;
}
.ml-18:hover:ml-18 {
  margin-Top: 18px;
}

.pl-18 {
  padding-Top: 18px;
}

.mt-18 {
  margin-Right: 18px;
}
.mt-18:hover:mt-18 {
  margin-Right: 18px;
}

.pt-18 {
  padding-Right: 18px;
}

.mr-18 {
  margin-Right: 18px;
}
.mr-18:hover:mr-18 {
  margin-Right: 18px;
}

.pr-18 {
  padding-Right: 18px;
}

.mb-18 {
  margin-Right: 18px;
}
.mb-18:hover:mb-18 {
  margin-Right: 18px;
}

.pb-18 {
  padding-Right: 18px;
}

.ml-18 {
  margin-Right: 18px;
}
.ml-18:hover:ml-18 {
  margin-Right: 18px;
}

.pl-18 {
  padding-Right: 18px;
}

.mt-18 {
  margin-Bottom: 18px;
}
.mt-18:hover:mt-18 {
  margin-Bottom: 18px;
}

.pt-18 {
  padding-Bottom: 18px;
}

.mr-18 {
  margin-Bottom: 18px;
}
.mr-18:hover:mr-18 {
  margin-Bottom: 18px;
}

.pr-18 {
  padding-Bottom: 18px;
}

.mb-18 {
  margin-Bottom: 18px;
}
.mb-18:hover:mb-18 {
  margin-Bottom: 18px;
}

.pb-18 {
  padding-Bottom: 18px;
}

.ml-18 {
  margin-Bottom: 18px;
}
.ml-18:hover:ml-18 {
  margin-Bottom: 18px;
}

.pl-18 {
  padding-Bottom: 18px;
}

.mt-18 {
  margin-Left: 18px;
}
.mt-18:hover:mt-18 {
  margin-Left: 18px;
}

.pt-18 {
  padding-Left: 18px;
}

.mr-18 {
  margin-Left: 18px;
}
.mr-18:hover:mr-18 {
  margin-Left: 18px;
}

.pr-18 {
  padding-Left: 18px;
}

.mb-18 {
  margin-Left: 18px;
}
.mb-18:hover:mb-18 {
  margin-Left: 18px;
}

.pb-18 {
  padding-Left: 18px;
}

.ml-18 {
  margin-Left: 18px;
}
.ml-18:hover:ml-18 {
  margin-Left: 18px;
}

.pl-18 {
  padding-Left: 18px;
}

.mt-20 {
  margin-Top: 20px;
}
.mt-20:hover:mt-20 {
  margin-Top: 20px;
}

.pt-20 {
  padding-Top: 20px;
}

.mr-20 {
  margin-Top: 20px;
}
.mr-20:hover:mr-20 {
  margin-Top: 20px;
}

.pr-20 {
  padding-Top: 20px;
}

.mb-20 {
  margin-Top: 20px;
}
.mb-20:hover:mb-20 {
  margin-Top: 20px;
}

.pb-20 {
  padding-Top: 20px;
}

.ml-20 {
  margin-Top: 20px;
}
.ml-20:hover:ml-20 {
  margin-Top: 20px;
}

.pl-20 {
  padding-Top: 20px;
}

.mt-20 {
  margin-Right: 20px;
}
.mt-20:hover:mt-20 {
  margin-Right: 20px;
}

.pt-20 {
  padding-Right: 20px;
}

.mr-20 {
  margin-Right: 20px;
}
.mr-20:hover:mr-20 {
  margin-Right: 20px;
}

.pr-20 {
  padding-Right: 20px;
}

.mb-20 {
  margin-Right: 20px;
}
.mb-20:hover:mb-20 {
  margin-Right: 20px;
}

.pb-20 {
  padding-Right: 20px;
}

.ml-20 {
  margin-Right: 20px;
}
.ml-20:hover:ml-20 {
  margin-Right: 20px;
}

.pl-20 {
  padding-Right: 20px;
}

.mt-20 {
  margin-Bottom: 20px;
}
.mt-20:hover:mt-20 {
  margin-Bottom: 20px;
}

.pt-20 {
  padding-Bottom: 20px;
}

.mr-20 {
  margin-Bottom: 20px;
}
.mr-20:hover:mr-20 {
  margin-Bottom: 20px;
}

.pr-20 {
  padding-Bottom: 20px;
}

.mb-20 {
  margin-Bottom: 20px;
}
.mb-20:hover:mb-20 {
  margin-Bottom: 20px;
}

.pb-20 {
  padding-Bottom: 20px;
}

.ml-20 {
  margin-Bottom: 20px;
}
.ml-20:hover:ml-20 {
  margin-Bottom: 20px;
}

.pl-20 {
  padding-Bottom: 20px;
}

.mt-20 {
  margin-Left: 20px;
}
.mt-20:hover:mt-20 {
  margin-Left: 20px;
}

.pt-20 {
  padding-Left: 20px;
}

.mr-20 {
  margin-Left: 20px;
}
.mr-20:hover:mr-20 {
  margin-Left: 20px;
}

.pr-20 {
  padding-Left: 20px;
}

.mb-20 {
  margin-Left: 20px;
}
.mb-20:hover:mb-20 {
  margin-Left: 20px;
}

.pb-20 {
  padding-Left: 20px;
}

.ml-20 {
  margin-Left: 20px;
}
.ml-20:hover:ml-20 {
  margin-Left: 20px;
}

.pl-20 {
  padding-Left: 20px;
}

h1 {
  color: red;
}/*# sourceMappingURL=style.css.map */